{% extends 'base.html.twig' %}

{% block title %}Convertir un fichier PDF{% endblock %}

{% block body %}
<style>
</style>

<div class="container mt-5 example-wrapper">
    <h1 class="mb-4">Le PDF n'a pas pu être enregistré.</h1>
   
</div>
{% endblock %}
