{% extends 'base.html.twig' %}

{% block title %}PDF Success{% endblock %}

{% block body %}
<h1>PDF enregistré avec succès</h1>
<p>Votre PDF a été généré et enregistré avec succès.</p>
<p><a href="{{ pdfPath }}" target="_blank">Ouvrir le PDF</a></p>
{% endblock %}
